In [3]:
li = [12,13,14,15,17,18,19]
#access element in list
#List items are indexed and you can access them by referring to the index number:
print(li[0])
print(li[-1])#negative indexing
print(li[2:6])#Range of Indexes

12
19
[14, 15, 17, 18]

In [2]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [8]:
#changing list item
#To change the value of a specific item, refer to the index number:
li[1]=45
print(li)
li[3:6] = [99]
print(li)

[12, 45, 14, 99, 18, 19]
[12, 45, 14, 99]

In [7]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [9]:
#remove item from list
#The remove() method removes the specified item.
li.remove(12)

In [10]:
li

[45, 14, 99]

In [11]:
li.pop()#remove the last item
li.pop(1)#remove the index number item

14

In [12]:
li

[45]

In [16]:
#add item in list

li.append(49)#single item
li
li.append([1,2,3])#alist

In [17]:
print(li)

[45, 49, 49, 49, [1, 2, 3]]

In [18]:
li.extend([4,5,6])#multiple item

In [19]:
li

[45, 49, 49, 49, [1, 2, 3], 4, 5, 6]

In [20]:
li.insert(0,102)#add by indexing number

In [21]:
li

[102, 45, 49, 49, 49, [1, 2, 3], 4, 5, 6]

In [22]:
#loop in the list
for i in li:
    print(i)

102
45
49
49
49
[1, 2, 3]
4
5
6

In [27]:
x = [78,79,80,81,87]
for i in range(len(x)):
    print(x[i])

78
79
80
81
87

In [28]:
y = 0
while y<len(x):
    print(x[y])
    y = y+1

78
79
80
81
87

In [29]:
# List Comprehension
# List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [30]:
#sorting list
a = [14,15,3,16,68,45]
a.sort()
print(a)

[3, 14, 15, 16, 45, 68]

In [31]:
a.sort(reverse=True)
print(a)

[68, 45, 16, 15, 14, 3]

In [32]:
#Copy Lists
copy = a.copy()#shallow copy
print(copy)

[68, 45, 16, 15, 14, 3]

In [33]:
# #Join Two Lists
# There are several ways to join, or concatenate, two or more lists in Python
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

In [34]:
#tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [36]:
#access tuple 
print(thistuple[0])
print(thistuple[-1])

apple
cherry

In [37]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [38]:
#Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.
#Convert the tuple into a list to be able to change it:

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [41]:
#add item in tuple
mytuple = {"unikaksha","data science","fsd","aws"}
mytuple2  =list(mytuple)
mytuple2.append("machine learning")
mytuple2 =tuple(mytuple2)
print(mytuple2)

('data science', 'unikaksha', 'aws', 'fsd', 'machine learning')

In [42]:
# Unpacking a tuple:

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [43]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [44]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [45]:
# sorted(): Returns a new sorted list of tuples, based on a specific key.

my_list = [(2, 'b'), (1, 'a'), (3, 'c')]
new_list = sorted(my_list)
print(new_list) # Output: [(1, 'a'), (2, 'b'), (3, 'c')]
my_list = [(2, 'b'), (1, 'a'), (3, 'c')]
my_list.sort()
print(my_list) # Output: [(1, 'a'), (2, 'b'), (3, 'c')]

[(1, 'a'), (2, 'b'), (3, 'c')]
[(1, 'a'), (2, 'b'), (3, 'c')]

In [46]:
#sets
set1 = {"rahul",30,"bca","bhopal"}
print(set1)

{'bhopal', 'rahul', 30, 'bca'}

In [47]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'cherry', 'orange', 'banana'}

In [48]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'mango', 'papaya', 'cherry', 'pineapple', 'banana'}

In [49]:
#remove item from set
thisset.remove("apple")
print(thisset)
thisset.pop()#remove 1st item
print(thisset)

{'mango', 'papaya', 'cherry', 'pineapple', 'banana'}
{'papaya', 'cherry', 'pineapple', 'banana'}

In [51]:
#loop in sets
for i in thisset:
    print(i)

cherry
banana

In [52]:
thisset

{'banana', 'cherry'}

In [53]:
# The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'c', 1, 2, 3, 'a', 'b'}

In [54]:
#dictionary
d = {"python":1991,"c++":1985,"ruby":1995,"java":1995,"fortran":1957,"lisp":1958}
print(d)

{'python': 1991, 'c++': 1985, 'ruby': 1995, 'java': 1995, 'fortran': 1957, 'lisp': 1958}

In [55]:
#access item
d["python"]

1991

In [56]:
d.get("java")

1995

In [59]:
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['python', 'c++', 'ruby', 'java', 'fortran', 'lisp'])
dict_values([1991, 1985, 1995, 1995, 1957, 1958])
dict_items([('python', 1991), ('c++', 1985), ('ruby', 1995), ('java', 1995), ('fortran', 1957), ('lisp', 1958)])

In [60]:
#You can change the value of a specific item by referring to its key name:
d["python"]=1990
print(d)

{'python': 1990, 'c++': 1985, 'ruby': 1995, 'java': 1995, 'fortran': 1957, 'lisp': 1958}

In [61]:
#adding item
d["cobol"] = 1959
d

{'python': 1990,
 'c++': 1985,
 'ruby': 1995,
 'java': 1995,
 'fortran': 1957,
 'lisp': 1958,
 'cobol': 1959}

In [62]:
d.update({"c":1972})

In [63]:
d

{'python': 1990,
 'c++': 1985,
 'ruby': 1995,
 'java': 1995,
 'fortran': 1957,
 'lisp': 1958,
 'cobol': 1959,
 'c': 1972}

In [64]:
#delete an item
d.pop("python")

1990

In [65]:
d

{'c++': 1985,
 'ruby': 1995,
 'java': 1995,
 'fortran': 1957,
 'lisp': 1958,
 'cobol': 1959,
 'c': 1972}

In [66]:
d.popitem()#delete the last

('c', 1972)

In [67]:
d

{'c++': 1985,
 'ruby': 1995,
 'java': 1995,
 'fortran': 1957,
 'lisp': 1958,
 'cobol': 1959}

In [68]:
#clear all the dictionary

In [69]:
for i in d.values():
    print(i)
for i in d.keys():
    print(i)

1985
1995
1995
1957
1958
1959
c++
ruby
java
fortran
lisp
cobol

In [70]:
for x, y in d.items():
    print(x, y)

c++ 1985
ruby 1995
java 1995
fortran 1957
lisp 1958
cobol 1959

In [71]:
# Nested Dictionaries
# A dictionary can contain dictionaries, this is called nested dictionaries

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [72]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}